<% if obj.errors.any? %>
    <% obj.errors.full_messages.each do |error| %>
    <div class="alert-box alert" data-alert>
    <%= error %>
    <%= link_to "x", '#', class: 'close' %>
    </div>
    <% end %>
<% end %>
