<% if obj.errors.any? %>
    <% obj.errors.full_messages.each do |error| %>
    <div class="alert-box alert" data-alert>
      <a href="#" class="close">&#215;</a>
      <%= error %>
    </div>
    <% end %>
<% end %>
