<div class="row">
  <div class="small-2 columns"><%= image_tag resume.user.gravatar_url(:size => "120"), class: 'gravatar index' %></div>
  <div class="small-10 columns">
    <blockquote><h3><%= link_to "#{resume.user.first_name} #{resume.user.last_name}", resume_path(resume) %></h3>
      <% if resume.objective %>
        <p><strong> Objective</strong> - <%= resume.objective.description %></p>
      <% end %></blockquote>
  </div>
</div>
