<div id="modal" class = "reveal-modal small" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div id="modal-large" class = "reveal-modal large" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
</div>